/* Tag-based Styles */
body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

header {
	position: fixed;
	display: flex;
	top: 0; /* needed to keep any background stuff from poking through */
	z-index: 100;
	height: 69px;	
	width: 100%;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
	align-items: center;
}


/* header links div */
nav{
	flex-grow: 1;
	text-align: right;
	background-color: black;
	padding-right: 10px;
}

/* header links+text */
nav span{
	padding: 20px 10px;
	display: inline-block;
}

h2, h3, h4 {
	padding: 10px;
	margin: 0; /*this shrank the vertical height to fit redline spec */
}

div {
	display: block;
}

/* class-based styles */
.page-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.page-header img{
	height: 50px;
	padding-left: 10px;
}

.logo {
	display: flex;
}

#mission {
	background-image: url(../img/img-mission-background.jpg);
	display: table-cell;
	width: 1200px;
	height: 700px;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
	background-color: black;
	display: inline-block;
	width: 100%; 
}

.footer {

}

/* link styles */
a:link, a:visited, a:hover, a:active{
	text-decoration: underline;
	color: seashell;
}



/* CSS for debugging layout
	border-style: dotted;
	border-color: white;
*/
